<div class="wrapper">
    <app-side-nav-admin></app-side-nav-admin>
    <div class="main p-4 bg-dark text-light">
        <div class="container-fluid">
            <h1 class="h2 display-5"> Editer une commande </h1>
            <form [formGroup]="editOrderForm" (ngSubmit)="onSubmit()" data-bs-theme="dark">

                <div class="mb-3">
                    <label for="employee">Employé(e)</label>
                    <select id="employee" formControlName="employee" class="form-select">
                        <option disabled [ngValue]="null">Choisissez un employé(e)</option>
                        <option *ngFor="let employee of employees" ngValue="/api/employees/{{employee.id}}">
                            {{employee.firstname}} {{employee.name}}
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="status">Status</label>
                    <select id="status" formControlName="status" class="form-select">
                        <option disabled [ngValue]="null">Choisissez un status</option>
                        <option>En attente de réception des articles</option>
                        <option>En cours de lavage</option>
                        <option>Prêt à être récupéré</option>
                        <option>En cours de livraison</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Valider</button>
            </form>

        </div>
    </div>
</div>
