<div class="wrapper">
    <app-side-nav-admin></app-side-nav-admin>
    <div class="main p-4 bg-dark">
        <div class="container-fluid table-responsive">
            <h1 class="h2 display-5 text-light"> Liste des clients </h1>

            <input type="text" class="form-control my-4 w-50" placeholder="Rechercher par nom ou prénom" [(ngModel)]="searchText" data-bs-theme="dark">

            <table class="table-dark table text-center table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers | filterUsers: searchText">
                        <th scope="row">{{customer.id}}</th>
                        <td>{{customer.name}}</td>
                        <td>{{customer.firstname}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.adress}}</td>
                        <td>{{customer.birthdate}}</td>
                        <td>{{customer.gender}}</td>
                        <td><button (click)="confirmDelete(customer)" data-bs-toggle="modal" class="btn btn-danger" data-bs-target="#modalDelete">Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-modal-delete [currentUser]="currentUser" (userDeleted)="deleteUser()">
</app-modal-delete>