<div class="container my-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  
        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" id="gender" class="form-control" formControlName=gender>
        </div>

        <div class="form-group">
            <label for="firstname">FirstName</label>
            <input type="text" id="firstname" class="form-control" formControlName=firstname>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName=name>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName=email>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" class="form-control" formControlName=password>
        </div>

        <div class="form-group">
            <label for="adress">Adress</label>
            <input type="text" id="adress" class="form-control" formControlName=adress>
        </div>

        <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <input type="date" id="birthdate" class="form-control" formControlName=birthdate>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Créer un compte</button>
    </form>
</div>
