<div class="wrapper">
    <app-side-nav-admin></app-side-nav-admin>
    <div class="main p-4">
        <div class="text-center">
            <h1 class="mb-5 h2 display-5"> Dashboard de PixelPressing </h1>
            <div class="container">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="mb-5 d-flex justify-content-evenly align-items-center p-2 bg-primary-subtle shadow">
                            <div class="text-start">
                                <h2>Clients</h2>
                                <h3>12</h3>
                            </div>
                            <div>
                                <i class="fa-regular fa-id-card fa-2xl"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-5 d-flex justify-content-evenly align-items-center p-2 bg-success-subtle shadow">
                            <div class="text-start">
                                <h2>Oseille</h2>
                                <h3>20 €</h3>
                            </div>
                            <div>
                                <i class="fa-solid fa-money-check-dollar fa-2xl"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-5 d-flex justify-content-evenly align-items-center p-2 bg-warning-subtle shadow">
                            <div class="text-start">
                                <h2>Commandes</h2>
                                <h3>8</h3>
                            </div>
                            <div>
                                <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-5 d-flex justify-content-evenly align-items-center p-4 bg-danger-subtle shadow">
                            <div class="">
                                <h2>Commandes en cours</h2>
                                <h3>1</h3>
                            </div>
                            <div>
                                <i class="fa-solid fa-truck-fast fa-2xl"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

