<section class="myProfile bg-white">
    <div class="container shadow">
        <div class="row">

            <div class="bg col-4 py-5 px-lg-5 text-center">
                <img src="img/userImage.webp" class="img-fluid" alt="User Image">
                <div class="py-4 d-lg-flex justify-content-center gap-3 text-light">
                    <h2>{{user.firstname}}</h2>
                    <h2>{{user.name}}</h2>
                </div>
            </div>

            <div class="col-8 py-5 px-lg-5 bg-light">
                <div class="d-lg-flex align-items-center justify-content-evenly">
                    <h1>Mes Informations</h1>
                    <a [routerLink]="['../myProfile-edit']" class="btn-dark">Modifier</a>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <h2>Email</h2>
                        <p>{{user.email}}</p>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <h2>Adresse</h2>
                        <p>{{user.adress}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <h2>Genre</h2>
                        <p>{{user.gender}}</p>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <h2>Date de naissance</h2>
                        <p>{{user.birthdate}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>