<section class="cart">
    <div class="container table-responsive">
        <h1 class="display-2 mb-5">Votre Panier</h1>
        <div *ngIf="cartItems.length > 0; else noItems">
            <table class="table text-center table-hover align-middle table-md">
                <thead>
                  <tr>
                    <th scope="col">Article</th>
                    <th scope="col">Prix de l'article</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Service(s)</th>
                    <th scope="col">Prix Total</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr *ngFor="let cartItem of cartItems">
                    <th scope="row"><img src="img/{{cartItem.item.image}}" alt="{{cartItem.item.name}}" class="img-custom">{{cartItem.item.name}}</th>
                    <td>{{cartItem.item.price}}€</td>
                    <td>{{cartItem.quantity}}</td>
                    <td>
                        <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Vos service(s)
                        </button>
                        <ul class="dropdown-menu p-0">
                          <li><p class="dropdown-item p-2 m-0 fs-6">Lavage</p></li>
                          <li><p class="dropdown-item p-2 m-0 fs-6">Repassage</p></li>
                          <li *ngFor="let service of cartItem.service"><p class="dropdown-item p-2 m-0 fs-6">{{ service.name }}</p></li>
                        </ul>
                      </div>
                    </td>
                    <th>{{cartItem.totalPrice}}€</th>
                    <td><button (click)="confirmDelete(cartItem)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">Supprimer</button></td>
                </tr>
                </tbody>
              </table>

              
            </div>
        </div>
        <div class="container">
            <h2 class="text-end mt-5">Prix total : {{ totalPrice() }}€</h2>
            <button class="btn btn-primary" routerLink="../payment">Passer commande</button>

        </div>
        


    <ng-template #noItems>
        <p>Votre panier est vide.</p>
    </ng-template>
</section>

<app-modal-delete [currentCartItem]="currentCartItem" (objectDeleted)="onServiceDeleted()"></app-modal-delete>
