.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1040;
    display: none;
}
  
.offcanvas-backdrop.show {
    display: block;
}

.icone-delete{
    cursor: pointer;
}
.icone-delete:hover{
    transform: scale(120%);
}