<div #offcanvasBackdrop class="offcanvas-backdrop" (click)="closeOffcanvas()"></div>
<div #offcanvasRight class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title fs-2 mb-2" id="offcanvasRightLabel">Votre Panier</h1>
        <button type="button" class="btn-close" (click)="closeOffcanvas()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div *ngIf="cartItems.length > 0; else noItems">
            <div class="row border-bottom py-4" *ngFor="let cartItem of cartItems">
                <div class="col-3">
                    <img src="img/{{cartItem.item.image}}" alt="{{cartItem.item.name}}" class="img-fluid">
                </div>
                <div class="col-6">
                    <h2 class="fs-4">{{cartItem.item.name}}</h2>
                    <div class="dropdown mb-2">
                        <button class="btn-dark border-0 dropdown-toggle px-2 py-1" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Vos services
                        </button>
                        <ul class="dropdown-menu p-0">
                            <li>
                                <p class="dropdown-item m-0">Lavage</p>
                            </li>
                            <li>
                                <p class="dropdown-item m-0">Repassage</p>
                            </li>
                            <li *ngFor="let service of cartItem.service">
                                <p class="dropdown-item m-0">{{ service.name }} ({{service.price}}€)</p>
                            </li>
                        </ul>
                    </div>
                    <h3 class="fs-5">{{ subTotalPrice(cartItem) }}€</h3>

                    <i (click)="deleteCartItem(cartItem.id)" class="fa-solid fa-trash-can fa-lg icone-delete"
                        style="color: #6785FF;"></i>
                </div>

                <div class="col-3 d-flex align-items-end">
                    <h3 class="fs-5">Qté : {{cartItem.quantity}}</h3>
                </div>
            </div>


            <div class="border-bottom d-flex justify-content-between py-4">
                <h3 class="fs-4">Total :</h3>
                <h3 class="fs-4">{{ totalPrice() }}€</h3>
            </div>
            <div class="my-4">
                <button class="btn-dark border-0" routerLink="payment">Payement Sécurisé</button>
            </div>
        </div>


        <ng-template #noItems>
            <p>Votre panier est vide.</p>
        </ng-template>
    </div>
</div>