<div class="wrapper">
    <app-side-nav-admin></app-side-nav-admin>
    <div class="main p-4 bg-dark text-light">
        <div class="container-fluid">
            <h1 class="h2 display-5"> Créer un(e) nouveau Employé(e) </h1>

            <form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()" data-bs-theme="dark">

                <div class="row mb-3">
                    <div class="col-6">
                        <label for="name">Nom</label>
                        <input id="name" type="text" formControlName="name" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="firstname">Prénom</label>
                        <input id="firstname" type="text" formControlName="firstname" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label for="email">Email</label>
                        <input id="email" type="email" formControlName="email" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="password">Password</label>
                        <input id="password" type="password" formControlName="password" class="form-control">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-lg-6 col-12">
                        <div class="mb-lg-0 mb-3">
                            <label>Gender</label>
                            <div class="d-flex gap-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="genderMr" name="gender"
                                    formControlName="gender" value="Mr">
                                    <label class="form-check-label" for="genderMr">Mr</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="genderMme" name="gender"
                                    formControlName="gender" value="Mme">
                                    <label class="form-check-label" for="genderMme">Mme</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="genderAutre" name="gender"
                                    formControlName="gender" value="Autre">
                                    <label class="form-check-label" for="genderAutre">Autre</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label for="birthdate">Birthdate</label>
                        <input type="date" id="birthdate" class="form-control" formControlName=birthdate>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="adress">Adress</label>
                    <input type="text" id="adress" class="form-control" formControlName=adress>
                </div>


                <button class="btn btn-primary" type="submit">Valider</button>
            </form>



        </div>
    </div>
</div>