<section class="hero">
    <div class="container z-1">
        <h1 class="text-light display-1">Pixel Pressing</h1>
        <p class="text-light display-6 py-4 w-75">Nettoyage de qualité supérieure pour vos vêtements et linge de maison, rapide et fiable.</p>
        <button routerLink="commander" class="c-button c-button--gooey"> Commander
            <div class="c-button__blobs">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </button>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                        result="goo"></feColorMatrix>
                    <feBlend in="SourceGraphic" in2="goo"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>
</section>

<section class="how-it-works py-5 border-bottom">
    <div class="container">
        <h2 class="text-center display-5 py-5">Comment ça marche ?</h2>
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="text-center mb-4 p-2 hover-effect">
                    <img src="img/hiw1.webp" alt="Logo d'un vêtement">
                    <h3 class="my-4" style="height: 68px;">Nous récupérons vos articles</h3>
                    <p class="color-grey">Apportez vos vêtements ou linge de maison, et bénéficiez d'un service de nettoyage rapide, professionnel et de haute qualité.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="text-center mb-4 p-2 hover-effect">
                    <img src="img/hiw2.webp" alt="Logo d'un lavage à la main">
                    <h3 class="my-4" style="height: 68px;">Nous lavons vos articles</h3>
                    <p class="color-grey">Nous lavons vos vêtements et linge de maison avec soin, garantissant propreté, fraîcheur et respect des matériaux délicats.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="text-center mb-4 p-2 hover-effect">
                    <img src="img/hiw3.webp" alt="Logo d'une boite pour le livraison">
                    <h3 class="my-4" style="height: 68px;">Nous livrons vos vêtements</h3>
                    <p class="color-grey">Nous livrons vos vêtements ou vous les récupérez sur place, selon votre convenance, avec un service rapide et efficace.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories py-5">
    <div class="container">
        <h2 class="text-center display-5 pb-5">Notre savoir-faire</h2>
        <div class="row row-custom text-white">

            <div class="col-lg-6 col-12 px-lg-0 px-2">
                <img src="img/service1.webp" class="img-fluid w-100" alt="Image d'un employée de PixelPressing">
            </div>

            <div *ngFor="let categorie of categories; let i = index" 
            [ngClass]="{'col-lg-6 col-12 px-lg-0 px-2': true, 'order-lg-0 order-1': i === 1}">
                <div class="position-relative hover-rotate">
                    <img src="img/categorie-bg.webp" class="img-fluid w-100 categorie-bg" alt="Image de fond pour les catégorie">
                    <div class="categorie-bg-content text-center px-3">
                        <img src="img/{{categorie.image}}" class="img-fluid effect" alt="{{categorie.image}}">
                        <h3 class="py-4">{{categorie.name}}</h3>
                        <p>{{categorie.description}}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-12 px-lg-0 px-2">
                <img src="img/service2.webp" class="img-fluid w-100" alt="Image d'un employée de PixelPressing">
            </div>
        </div>
    </div>
</section>

<section class="call my-5">
    <div class="container">
        <div class="row text-white align-items-center">
            <div class="col-lg-8 col-12">
                <h2>Pour tout autre service, appelez nous !</h2>
                <p class="my-4">Pour tout autre service ou besoin particulier, n'hésitez pas à nous appeler ! Nous sommes là pour répondre à vos demandes.</p>
            </div>
            <div class="col-lg-4 col-12 text-lg-end">
                <a class="btn-light fs-4">06.43.60.07.97</a>
            </div>
        </div>
    </div>
</section>

<section class="about py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <img src="img/about.webp" class="img-fluid" alt="Photo d'un employée de PixelPressing">
            </div>
            <div class="col-lg-6 col-12">
                <h2 class="display-5 mb-4">A propos de nous</h2>
                <p class="color-grey">
                    Nous sommes un pressing spécialisé dans le nettoyage professionnel de vêtements et de linge de maison, avec une attention particulière aux détails.<br><br>
                    Notre équipe expérimentée utilise des techniques avancées pour garantir que chaque article est traité avec soin, respectant les tissus délicats.<br><br>
                    Nous offrons un service rapide et efficace, assurant que vos vêtements sont prêts dans les délais convenus, sans compromis.<br><br>
                    Votre satisfaction est notre priorité absolue. Faites confiance à notre expertise pour maintenir vos vêtements et linge de maison en parfait état.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contact mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="mb-4">
                    <h2 class="mb-4 display-5">Nos horaires</h2>
                    <table class="table table-responsive table-hover table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Lundi</th>
                                <td>8h-19h</td>
                            </tr>
                            <tr>
                                <th scope="row">Mardi</th>
                                <td>8h-19h</td>
                            </tr>
                            <tr>
                                <th scope="row">Mercredi</th>
                                <td>8h-19h</td>
                            </tr>
                            <tr>
                                <th scope="row">Jeudi</th>
                                <td>8h-19h</td>
                            </tr>
                            <tr>
                                <th scope="row">Vendredi</th>
                                <td>8h-19h</td>
                            </tr>
                            <tr>
                                <th scope="row">Samedi</th>
                                <td>8h-13h</td>
                            </tr>
                            <tr>
                                <th scope="row">Dimanche</th>
                                <td>FERMÉ</td>
                            </tr>
                        </tbody>
                    </table>
                    <i class="fa-regular fa-clock clock"></i>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="mb-4">
                    <h2 class="mb-4 display-5">Nous situer</h2>
                    <iframe class="w-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.651017227689!2d3.121947691610093!3d45.758141839219775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f71ecc42d76497%3A0xa9a1c9d7248ae956!2sHuman%20Booster!5e0!3m2!1sfr!2sfr!4v1720891291086!5m2!1sfr!2sfr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>