<section class="payment">
    <div class="payment-card container shodow rounded-1">
        <div class="row">
            <div class="col-4">
                <h2>Votre transaction</h2>
                <div class="info border-bottom">

                    <div class="shop">
                        <i class="fa-solid fa-shop"></i> Marchand
                        <h3>PixelPressing</h3>
                    </div>
                    <div class="montant">
                        <i class="fa-solid fa-coins"></i> Montant
                        <h3>10€</h3>
                    </div>
                    <div class="idNumber">
                        <i class="fa-solid fa-file-invoice"></i> N° de transaction
                        <h3>654321654</h3>
                    </div>
                </div>
                <div>
                    <h2>100% sécurisé</h2><i class="fa-solid fa-lock"></i>
                    <p>Lorem ipsum dolor sit us dolore cumque nostrum harum, repellat earum accusamus, similique nihil. Rerum, totam voluptatem.</p>
                </div>
            </div>
            <div class="col-8">
                <div class="logo border-bottom">
                    image
                </div>

                <div class="form-payment">
                    <h2>Votre carte</h2><i class="fa-brands fa-cc-mastercard"></i><i class="fa-brands fa-cc-visa"></i>
                    <form>
                        <div class="mb-3">
                          <label for="cartNumber" class="form-label">VOTRE CARTE</label>
                          <input type="text" class="form-control" id="cartNumber" placeholder="Numéro de carte">
                        </div>

                          <label for="expirationDate" class="form-label">Date d'expiration</label>
                          <input type="data" class="form-control" id="expirationDate">

                        <button type="submit" class="btn btn-primary">Payer 10,00€</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</section>
