<section class="payment">
    <div class="container">
        <div class="row">
            <h1 class="display-4 text-center mb-5">Récapitulatif de votre commande</h1>
            <div class="col-lg-6 col-12 order-lg-1 order-2">

                <!-- PARTIE INFORMATIONS -->
                <div *ngIf="isLogged(); else noLogged" class="mb-5">
                    <div class="d-flex gap-3 align-items-center">
                        <div class="">
                            <h2>Adresse de facturation</h2>
                            <p class="m-0">{{user.firstname}} {{user.name}}</p>
                            <p>{{user.adress}}</p>
                        </div>
                        <div>
                            <button routerLink="../myProfile-edit" class="btn-dark border-0 h-auto">Modifier mes infos</button>
                        </div>
                    </div>

                    <!-- Partie Mode d'expédition -->
                    <div class="mb-5">
                        <h2>Mode d'expédition</h2>
                        <form [formGroup]="paymentForm">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="deliveryMode" id="pickUp"
                                    (change)="onDeliveryChange(false)" checked>
                                <label class="form-check-label" for="pickUp">
                                    Retrait sur place
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="deliveryMode" id="delivery"
                                    (change)="onDeliveryChange(true)">
                                <label class="form-check-label" for="delivery">
                                    Livraison (10€)
                                </label>
                            </div>
                            <div class="my-3" *ngIf="delivery">
                                <label for="deliveryDate" class="form-label">Date de livraison</label>
                                <input type="date" class="form-control w-50" id="deliveryDate"
                                    formControlName="deliveryDate"
                                    [class.is-invalid]="isSubmitted && paymentForm.controls['deliveryDate'].invalid">
                                <div *ngIf="isSubmitted && paymentForm.controls['deliveryDate'].invalid"
                                    class="invalid-feedback">
                                    <small>La date de livraison est requise</small>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Partie info carte bancaire -->
                    <div class="mb-5">
                        <h2>Paiement</h2>
                        <form (ngSubmit)="onSubmit()" [formGroup]="paymentForm">
                            <div class="mb-3">
                                <span class="input-group-text">Carte de crédit</span>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Numéro de carte">
                            </div>
                            <div class="d-flex justify-content-between gap-3">
                                <div class="mb-3 w-100">
                                    <input type="text" class="form-control" placeholder="Date d'expiration (MM/AA)">
                                </div>
                                <div class="mb-3 w-100">
                                    <input type="text" class="form-control" placeholder="Code de sécurité">
                                </div>
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Nom sur la carte">
                            </div>
                            <button type="submit" class="btn-dark border-0 my-4 w-100">Payer ma commande</button>
                        </form>

                        <p class="color-grey">En passant votre commande, vous adhérez aux Conditions Générales, à la Politique de
                            Confidentialité et à la Politique des Cookies de PixelPressing.</p>
                    </div>
                </div>
                <!-- Si user pas connecté -->
                <ng-template #noLogged>
                    <p>Veuillez vous connecter pour payer votre commande</p>
                    <button routerLink="../login" class="btn-dark border-0">Connectez-vous</button>
                </ng-template>
            </div>

            <!-- Partie items -->
            <div class="col-lg-6 col-12 order-lg-2 order-1">
                <h2>Vos articles</h2>
                <div *ngFor="let cartItem of cartItems" class="row py-3">
                    <div class="col-3">
                        <img src="img/{{cartItem.item.image}}" alt="{{cartItem.item.name}}" class="img-fluid w-75">
                        <span class="badge-custom badge rounded-pill badge-notification">{{ cartItem.quantity
                            }}</span>
                    </div>
                    <div class="col-6">
                        <h5>{{ cartItem.item.name }}</h5>
                        <div class="dropdown mb-2">
                            <button class="btn-dark dropdown-toggle border-0 py-1" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Vos services
                            </button>
                            <ul class="dropdown-menu p-0">
                                <li>
                                    <p class="dropdown-item p-2 m-0 fs-6">Lavage</p>
                                </li>
                                <li>
                                    <p class="dropdown-item p-2 m-0 fs-6">Repassage</p>
                                </li>
                                <li *ngFor="let service of cartItem.service">
                                    <p class="dropdown-item p-2 m-0 fs-6">{{ service.name }} ({{service.price}}€)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <h5>{{ itemSubTotalPrice(cartItem) }}€</h5>
                    </div>
                </div>

                <div class="col-12">
                    <div class="d-flex justify-content-between py-5">
                        <div>
                            <h5>Sous-Total :</h5>
                            <h5 class="my-3">Livraison</h5>
                            <h4>Total</h4>
                        </div>
                        <div>
                            <h5>{{ subtotalPrice() }}€</h5>
                            <h5 class="my-3">{{ delivery ? delivery_price : 0 }}€</h5>
                            <h4>{{ totalPrice() }}€</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>