<section class="hero">
    <div class="container">
        <h1 class="text-white display-3">Commander <br>en ligne</h1>
    </div>
</section>

<section class="choice my-4">
    <div class="container">
        <h2>Choisissez votre article:</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur itaque vitae sed aliquid quo, optio
            doloremque.</p>
        <div class="row">
            <div class="col-lg-2 col-6" *ngFor="let item of items">
                <div class="mb-4">
                    <button class="w-100" (click)="selectItem(item)">
                        {{item.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="item py-5" *ngIf="selectedItem">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4 border">
                    <img src="img/Vector.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6">

                <form action="">
                    <h3>{{selectedItem.name}}</h3>
                    <h4>€{{selectedItem.price}}</h4>

                    <div class="mb-3">
                        <h5><label for="">Service :</label><br></h5>
                        <div *ngFor="let service of services" class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="{{service.id}}" [value]="service.name" [checked]="isServiceChecked(service.name)" [disabled]="isServiceChecked(service.name)">
                            <label class="form-check-label" for="{{service.id}}">{{service.name}}</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5>Quantité :</h5>
                        <div class="d-flex gap-5">

                            <div class="border">
                                <button class="btnRemove">-</button>
                            </div>
                            
                            <div class="border">
                                <h5 class="py-2 px-4 m-0">0</h5>
                            </div>
                            
                            <div class="border">
                                <button class="btnAdd">+</button>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">Ajouter au panier</button>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus molestias voluptates ducimus praesentium velit? </p>
                </form>
            </div>
        </div>
    </div>
</section>