<section class="hero">
    <div class="container">
        <h1 class="text-white display-3">Commander <br>en ligne</h1>
    </div>
</section>

<section class="choice my-4">
    <div class="container">
        <h2>Choisissez votre article:</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur itaque vitae sed aliquid quo, optio
            doloremque.</p>
        <div class="row">
            <div class="col-lg-2">
                <div class="mb-4">
                    <button class="w-100">
                        test
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="item py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4 border">
                    <img src="img/Vector.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6">

                <form action="">
                    <h3>Chemise</h3>

                    <h4>€5</h4>
                    <div class="mb-3">
                        <h5><label for="">Service :</label><br></h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Retouches">
                            <label class="form-check-label" for="inlineCheckbox1">Retouches</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Détachages">
                            <label class="form-check-label" for="inlineCheckbox2">Détachages</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5><label for="qty" class="form-label">Quantité :</label></h5>
                        <input type="number" class="form-control" id="qty">
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">Ajouter au panier</button>

                    <p>description description description description description</p>
                </form>
            </div>
        </div>
    </div>
</section>