.commander{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commander-card{
    margin: 120px 0;
}

.img-choice{
    padding: 20px;
    border: 1px solid red;
}
