.navbar{
    background-color: #F8FAFF;
}
.logo {
    width: 120px;
}

.nav-lien {
    color: #072366;
    margin: 6px 10px;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
}
.nav-lien-icone{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #072366;
    font-size: 16px;
    position: relative;
    border: 2px solid #072366;
    padding: 8px 10px;
}

.nav-lien::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #072366;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-lien:hover::before {
    visibility: visible;
    width: 50%;
}

.auth {
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 16px;
}

.nav-item{
    display: flex;
    align-items: center;
}