<nav class="navbar navbar-expand-lg fixed-top border-bottom">
    <div class="container">
        <a class="navbar-brand" routerLink=""><img src="img/logoPressing.png" alt="Logo Pressing" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- PAGE ACCUEIL -->
                <li class="nav-item">
                    <a class="nav-lien" routerLink="">Accueil</a>
                </li>

                <!-- PAGE SERVICES -->
                <li class="nav-item">
                    <a class="nav-lien" routerLink="services">Nos Services</a>
                </li>

                <!-- PAGE COMMANDER -->
                <li class="nav-item">
                    <a class="nav-lien" routerLink="commander">Commander</a>
                </li>

                <!-- PAGE DASHBOARD -->
                <li class="nav-item" *ngIf="isLogged() && isAdmin()">
                    <a class="nav-lien" routerLink="admin/dashboard">Dashboard</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <!-- PAGE CONNEXION -->
                <li class="nav-item" *ngIf="!isLogged()">
                    <a class="btn-dark" routerLink="login">Se connecter</a>
                </li>

                <!-- PAGE INSCRIPTION -->
                <li class="nav-item" *ngIf="!isLogged()">
                    <a class="btn-light my-lg-0 my-2 mx-lg-2 mx-0" routerLink="register">S'inscrire</a>
                </li>

                <!-- BOUTON DROPDOWN -->
                <li class="nav-item dropdown me-lg-3 me-0" *ngIf="isLogged()">
                    <a class="dropdown-toggle nav-lien" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user?.firstname }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="myProfile" class="dropdown-item color-blue">Mon profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a routerLink="mes-commandes" class="dropdown-item color-blue">Mes commandes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a routerLink="" class="dropdown-item color-blue" (click)="logout()">Se deconnecter</a></li>
                    </ul>
                </li>

                <!-- PAGE PANIER -->
                <li class="nav-item" (click)="openCartModal()">
                    <i class="fa-solid fa-cart-shopping fa-xl" style="color: #072366;"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">{{ cartItemsCount }}</span>
                </li>

            </ul>
        </div>
    </div>
</nav>

<app-modal-cart></app-modal-cart>