.myProfile{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg{
    background: linear-gradient(180deg, #6785FF, 5%, #072366, 50%, #030423);
}