<section class="orders bg-light">
    <div class="container">

        <!-- Partie titre -->
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="mb-4">
                    <div class="d-flex gap-4 align-items-center">
                        <i class="fa-solid fa-box-open fa-2xl"></i>
                        <h1 class="display-4">Mes commandes</h1>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="user && user.commands && user.commands.length > 0; else noCommands">

            <div *ngFor="let command of user.commands"
                class="row mb-5 p-4 bg-white shadow mx-1">
                <div class="col-lg-4 pointer" (click)="selectOrder(command.id!)">
                    <div class="row align-items-center">
                        <div class="col-10">
                            <h2 class="fs-4">Commandes n° {{command.id}}</h2>
                            <p>Date : {{command.createdAt}}</p>
                        </div>
                        <div class="col-2">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8" *ngIf="selectedCommandId === command.id">
                    <div class="mb-4">
                        <h2 class="fs-4">Statut : {{command.status}}</h2>
                        <p *ngIf="command.delivery; else noDelivery">Date de livraion prévu : {{command.deliveryDate}}</p>
                        <ng-template #noDelivery>
                            <p>Commande à venir chercher sur place</p>
                        </ng-template>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="border-custom-dark bg-light p-4 mb-4">
                                <h3 class="fs-6">Adresse de livraion</h3>
                                <p class="m-0">{{user.firstname}} {{user.name}}</p>
                                <p class="m-0">{{user.adress}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="border-custom-dark bg-light p-4 mb-4">
                                <h3 class="fs-6">Adresse de facturation</h3>
                                <p class="m-0">{{user.firstname}} {{user.name}}</p>
                                <p class="m-0">{{user.adress}}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="border-custom-dark bg-light p-4 mb-4">
                                <h3 class="fs-6 mb-4">Mes articles</h3>
                                <div class="table-responsive">

                                    <table class="table text-center align-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">Article</th>
                                                <th scope="col">Prix</th>
                                                <th scope="col">Quantité</th>
                                                <th scope="col">Services</th>
                                                <th scope="col">Sous-total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of command.commandItems">
                                                <th scope="row">
                                                    <img src="img/{{item.item.image}}" alt="{{item.item.name}}"
                                                        class="img-custom">
                                                    {{item.item.name}}
                                                </th>
                                                <td>{{item.item.price}}€</td>
                                                <td>{{item.quantity}}</td>
                                                <td>
                                                    <div class="dropdown mb-2">
                                                        <button class="btn-dark border-0 py-2 dropdown-toggle"
                                                            type="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            Vos service(s)
                                                        </button>
                                                        <ul class="dropdown-menu p-0">
                                                            <li>
                                                                <p class="dropdown-item p-2 m-0 fs-6">Lavage</p>
                                                            </li>
                                                            <li>
                                                                <p class="dropdown-item p-2 m-0 fs-6">Repassage</p>
                                                            </li>
                                                            <li *ngFor="let service of item.service">
                                                                <p class="dropdown-item p-2 m-0 fs-6">{{ service.name }}
                                                                    ({{service.price}}€)
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>{{item.totalPrice}}€</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>  
                        <div class="col-12">
                            <div class="border-custom-dark bg-light p-4 d-flex flex-column align-items-end">
                                <p>Total des prix: {{ calculateTotalOfSubTotal(command) }}€</p>
                                <p>Livraison: {{command.delivery ? '10€' : '0€'}}</p>
                                <p class="fw-semibold">Total: {{command.price}}€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noCommands>
            <h2>Vous n'avez pour le moment aucune commande.</h2>
        </ng-template>
    </div>
</section>