.orders{
    padding: 120px 0 60px 0;
}
.pointer{
    cursor: pointer;
}
.img-custom{
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.border-custom-dark{
    border: 1px solid #072366;
}
.border-custom-light{
    border: 1px solid #6785FF;
}
table{
    --bs-table-bg: none;
}