<aside id="sidebar" [ngClass]="{'expand': isExpanded}">
    <div class="d-flex">
        <button class="toggle-btn" (click)="toggleSidebar()" type="button">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="sidebar-logo">
            <a [routerLink]="['/admin/dashboard']">PixelPressing</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a [routerLink]="['/admin/dashboard']" class="sidebar-link">
                <i class="fa-solid fa-table-columns"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
                aria-expanded="false" aria-controls="auth">
                <i class="fa-solid fa-users"></i>
                <span>Utilisateurs</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a [routerLink]="['/admin/customer-user-list']" class="sidebar-link">Clients</a>
                </li>
                <li class="sidebar-item">
                    <a [routerLink]="['/admin/employee-user-list']" class="sidebar-link">Employée</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a [routerLink]="['/admin/item-list']" class="sidebar-link">
                <i class="fa-solid fa-shirt"></i>
                <span>Articles</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a [routerLink]="['/admin/service-list']" class="sidebar-link">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <span>Services</span>
            </a>
        </li>
        <li class="sidebar-item mb-5">
            <a [routerLink]="['/admin/order-list']" class="sidebar-link">
                <i class="fa-solid fa-basket-shopping"></i>
                <span>Commandes</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a [routerLink]="['/']" class="sidebar-link">
                <i class="fa-solid fa-globe"></i>
                <span>Page d'accueil</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="" (click)="logout()" class="sidebar-link">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Se deconnecter</span>
            </a>
        </li>
    </ul>
</aside>
