@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a,
button,
label {
  font-family: "Space Mono", monospace;
  text-decoration: none;
}

p {
  font-size: 18px;
}

/* Couleur de certains <p> du site */
.color-grey {
  color: #57667E;
}

/* Style boutons */
.btn-dark {
  background-color: #072366;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 16px;
}

.btn-dark:hover {
  opacity: 0.9;
  transition: 0.2s;
}

.btn-light {
  background-color: #6785FF;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 16px;
}

.btn-light:hover {
  opacity: 0.9;
  transition: 0.2s;
}