@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a,
button {
  font-family: "Space Mono", monospace;
  text-decoration: none;
}

p {
  font-size: 18px;
}



.color-blue {
  color: #072366;
}

.bg-color-dark-blue {
  background-color: #072366;
}

.bg-color-blue {
  background-color: #6785FF;
}

.bg-color-blue-light {
  background-color: #E8EDFF;
}

.bg-light-custom {
  background-color: #F8FAFF;
}

.color-grey {
  color: #57667E;
}


/* Style du bouton principal */
.c-button {
  font-size: 22px;
  padding: 12px 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #072366;
  letter-spacing: 2px;
  border: 2px solid #072366;
  border-radius: 0;
  position: relative;
  transition: all 0.7s ease;
  border-radius: 50px;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: -1px;
  z-index: -1;
  border-radius: 50px;
}

.c-button--gooey .c-button__blobs div {
  background-color: #072366;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 0.7s ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

/* Style bouton secondaire */
.btn-dark{
  background-color: #072366;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 16px;
}
.btn-dark:hover{
  opacity: 0.9;
  transition: 0.2s;
}
.btn-light{
  background-color: #6785FF;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 16px;
}
.btn-light:hover{
  opacity: 0.9;
  transition: 0.2s;
}