<section class="footer pt-4 border-top">
    <div class="container">
        <div class="row my-4 text-center">
            <div class="col-lg-4 col-12">
                <div class="mb-4">
                    <img src="img/logoPressing.png" class="img-fluid mb-4 w-25" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore esse odit harum exercitationem dicta labore nam repellat sit equi accusamus.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="mb-4">
                    <h2 class="mb-4">Liens</h2>
                    <ul class="p-0">
                        <li>
                            <p><a href="">Accueil</a></p>
                        </li>
                        <li>
                            <p><a href="">Services</a></p>
                        </li>
                        <li>
                            <p><a href="">Contact</a></p>
                        </li>
                        <li>
                            <p><a href="">Accueil</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <h2 class="mb-4">Contact-nous</h2>
                <p>Adresse</p>
                <p>Telephone</p>
                <p>Mail</p>
            </div>
        </div>
    </div>
    <div class="copyrights border-top text-center">
        <p class="m-0 py-3">&#169; 2024 Pressing Pixel. Tous droits réservés.</p>
    </div>

</section>
