<section class="footer pt-4 border-top">
    <div class="container">
        <div class="row my-4 text-center">
            <div class="col-lg-4 col-12">
                <div class="mb-4">
                    <img src="img/logoPressing.webp" class="mb-4 logo" alt="Logo de PixelPressing">
                    <p>Profitez d'un service de blanchisserie de qualité supérieure, rapide et abordable, disponible dans votre ville pour répondre à tous vos besoins.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="mb-4">
                    <h2 class="mb-4">Liens de navigation</h2>
                    <ul class="p-0">
                        <li>
                            <p><a routerLink="">Accueil</a></p>
                        </li>
                        <li>
                            <p><a routerLink="services">Services</a></p>
                        </li>
                        <li>
                            <p><a routerLink="commander">Commander</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <h2 class="mb-4">Contactez-nous</h2>
                <p>41 rue denis papin</p>
                <p>06.43.60.07.97</p>
                <p>alex.hamon74&#64;gmail.com</p>
            </div>
        </div>
    </div>
    <div class="copyrights border-top text-center">
        <p class="m-0 py-3">&#169; 2024 Pressing Pixel. Tous droits réservés.</p>
    </div>

</section>
