<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeleteLabel">Confirmation de suppression</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Êtes-vous sûr de vouloir supprimer :
                    <span *ngIf="currentItem">{{ currentItem.name }}</span>
                    <span *ngIf="currentService">{{ currentService.name }}</span>
                    <span *ngIf="currentUser">{{ currentUser.name }} {{ currentUser.firstname }}</span>
                    <span *ngIf="currentCartItem">{{ currentCartItem.item.name }}</span>
                  </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="deleteObject()">Supprimer</button>
            </div>
        </div>
    </div>
</div>